<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Whatsapp Clone API</title>
  <!-- Font Awesome -->
  <link href="<link rel=" preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600&family=Luxurious+Roman&family=Noto+Sans:wght@400;700&family=Oxygen&family=Varela&family=Varela+Round&display=swap"
    rel="stylesheet">
  <!-- Google Fonts -->
  <link href=<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,600&family=Luxurious+Roman&family=Noto+Sans:wght@400;700&family=Oxygen&family=Varela&family=Varela+Round&display=swap"
    rel="stylesheet">
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet" />
</head>

<body>
  <!-- Background image -->
  <div class="p-5 text-center bg-image container-fluid" style="
        background-image: url('https://media.istockphoto.com/photos/social-media-symbols-like-heart-icon-picture-id1055880952?k=20&m=1055880952&s=612x612&w=0&h=qPeQ-LZtrCrxK6V5YEwnolIm1ElTNDPCBdcbJI2_k10=');
        min-height: 850px;
      ">
    <div class="mask" style="background-color: rgba(131, 20, 20, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 text-warning" style="
                font-size: 70px;
                font-family: 'Luxurious Roman', cursive;
              ">
            Whatsapp Clone Team D
          </h1>
          <a href="#" class="btn btn-success" style="padding: 20px 40px; border-radius: 50px; font-size:18px">View
            documentation</a>
          <a href="/auth/google" class="btn btn-danger"
            style="padding: 20px 40px; border-radius: 50px; font-size:18px">Login via
            Google</a>
          <a href="/auth/facebook" class="btn btn-primary"
            style="padding: 20px 40px; border-radius: 50px; font-size:18px">Login via
            Facebook</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Background image -->
</body>

</html>